
/* ==================================================================== KEYFRAMES */

@keyframes pulse {
	0% {
		transform: scale(1.3);
	}

	50% {
		transform: scale(1.6);
	}

	100% {
		transform: scale(1.3);
	}
}

/* ==================================================================== KEYFRAMES */

/* ==================================================================== COMPONENT */

.logo {
	font-weight: 500;
	font-style: normal;
	font-size: 48px;
	line-height: 62px;
	letter-spacing: 0.125em;
	text-shadow: 4px 1px 0 var(--secondary-сolor), -4px -1px 0 var(--main-color);
	color: #fff;
}

.but {
	position: relative;
	z-index: 1;
	overflow: hidden;
	border: 1px solid var(--main-color);
	font-weight: 500;
	letter-spacing: 0.05em;
	color: var(--main-color);
	background-color: transparent;
	transition: all 150ms ease-out;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: var(--main-color);
		transform: translateY(100%);
		transition: all 150ms ease-out;
	}

	&:hover {
		color: #fff;
	}

	&:hover::before {
		transform: translateY(0);
	}
}

.add__button {
	width: 170px;
	height: 50px;
	font-size: 24px;
}

.service {
	width: 100%;
	height: 10px;

	.cancel {
		position: absolute;
		right: 20px;
		top: 20px;
		text-align: center;
		color: var(--secondary-сolor);
		cursor: pointer;
	}
}

.center__line {
	margin: 0 auto;
	width: 500px;
	height: 1px;
	background-color: var(--secondary-сolor);
}

.title {
	margin: 30px 0 40px;
	font-size: 34px;
	text-align: center;
	color: var(--secondary-сolor);
}

.description {
	width: 100%;

	p {
		margin-bottom: 20px;
		font-size: 18px;
		line-height: normal;
		color: var(--secondary-сolor);
	}
}

.photo-conteiner {
	overflow: hidden;
	width: 320px;
	height: 320px;
	background: var(--table-even);

	img {
		width: 100%;
		height: 100%;
	}
}

.icon-20 {
	width: 20px;
	height: 20px;

	img {
		width: 100%;
		height: 100%;
	}
}

/* ==================================================================== COMPONENT */

/* ==================================================================== LAYOUT */

.wrapper {
	min-width: 768px;
	min-height: 100%;
}

.content {
	width: 100%;
	height: 100%;
}

.conteiner {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1400px;
}

.content__body {
	@include flexbox(flex-start, center, column);

	overflow: hidden;
	padding: 40px 100px 50px;
	width: 100%;
	min-height: 100vh;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* ==================================================================== LAYOUT */

/* ==================================================================== MAIN */

/* HEAD */
.header {
	@include flexbox(space-between, center, column);

	width: 100%;

	.header__top {
		@include flexbox(space-between, center);

		margin-bottom: 40px;
		width: 100%;
	}

	.header__bottom {
		@include flexbox(space-between, center);

		width: 100%;

		.header__button {
			width: 170px;
			height: 50px;
			font-size: 24px;
		}
	}
}

.model-search {
	@include flexbox(center, center);

	width: 300px;
	height: 40px;

	#headerSearch {
		@include flexbox(flex-end, center);

		width: 100%;
		height: 100%;

		.form__input {
			padding: 10px;
			width: 190px;
			height: 100%;
		}

		.form__button {
			margin-left: 20px;
			width: 90px;
			height: 100%;
		}
	}
}

.menu {
	.menu__list {
		display: flex;

		li {
			margin-right: 40px;
		}

		li:last-child {
			margin-right: 0;
		}

		.menu__item a {
			font-size: 24px;
			text-decoration: none;

			&:hover {
				color: var(--hover-color);
			}
		}
	}

	&._header .menu__item a {
		color: var(--main-color);

		&:hover {
			color: var(--main-hover-color);
		}
	}

	&._footer .menu__item a {
		color: var(--footer-color);

		&:hover {
			color: var(--footer-hover-color);
		}
	}
}

/* MAIN */
.main {
	padding: 40px 0 30px;
	width: 100%;
	min-height: calc(100vh - 290px);
}

/* SECTIONS */
section {
	margin-bottom: 50px;

	&:last-child {
		margin-bottom: 0;

		.center__line {
			margin-bottom: 40px;
		}
	}
}

#statistics {
	.statistics__body {
		width: 100%;
	}
}

.statistics__table {
	table-layout: fixed;
	margin-bottom: 60px;
	border-collapse: collapse;
	width: 100%;
	font-size: 16px;

	thead {
		font-size: 22px;

		tr {
			height: 36px;

			th {
				position: relative;
				cursor: pointer;

				&::after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					display: none;
					width: 100%;
					height: 4px;
					background-color: var(--secondary-сolor);
				}

				&:hover::after {
					display: block;
				}

				&:nth-child(1) {
					width: 50%;
					text-align: initial;
				}

				&:nth-child(2) {
					width: 10%;
				}

				&:nth-child(3) {
					width: 20%;
				}

				&:nth-child(4) {
					width: 20%;
				}
			}
		}
	}

	tbody {
		tr {
			height: 40px;

			td {
				vertical-align: middle;

				&:nth-child(2), &:nth-child(3), &:nth-child(4) {
					text-align: center;
				}
			}

			&:first-child {
				border-top: 1px solid #000;
			}

			&:nth-child(even) {
				background-color: var(--table-even);
			}
		}
	}

	tfoot {
		tr {
			height: 50px;

			td {
				vertical-align: bottom;
			}
		}

		a {
			margin-right: 5px;
			text-decoration: none;
			color: var(--link);

			&._current {
				color: var(--secondary-сolor);
				cursor: auto;
				pointer-events: none;
			}
		}

		span {
			margin-right: 5px;
		}
	}

	thead th, tbody td, tfoot td {
		overflow: hidden;
		overflow-wrap: break-word;
		padding: 5px 10px;
	}
}

#teachers {
	.teachers__body {
		@include flexbox(flex-start, center, column);

		width: 100%;
	}
}

.filter {
	@include flexbox(flex-start, flex-start);

	width: 100%;

	span {
		display: block;
		margin-right: 10px;
	}

	.options {
		@include flexbox(flex-start, flex-start);

		.options__item {
			.options__input, .options__label {
				cursor: pointer;
			}

			&:last-child {
				position: relative;
				margin-left: 70px;

				&::before {
					content: "";
					position: absolute;
					left: -20px;
					top: 0;
					border-left: 2px dotted #000;
					width: 0;
					height: 100%;
				}
			}
		}
	}
}

.teachers__top {
	display: flex;
	align-self: flex-start;
	justify-content: center;
	margin-top: 30px;
	width: 100%;

	.teachers__list {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}

.teachers__list {
	display: grid;
	width: 100%;
	gap: 40px 40px;

	.teachers__item {
		@include flexbox(space-between, center, column);

		position: relative;
		justify-self: center;
		cursor: pointer;

		.circle__frame {
			@include flexbox(center, center);

			position: relative;
			border-radius: 50%;
			width: 120px;
			height: 120px;
			background-color: var(--circle);
			transition: transform, background-color 200ms ease-out;

			.circle {
				@include flexbox(center, center);

				position: relative;
				overflow: hidden;
				border-radius: 50%;
				width: 94%;
				height: 94%;
				background-color: #fff;

				img {
					width: 100%;
					height: 100%;
					transition: transform 300ms ease-in-out;

					&:hover {
						transform: scale(1.1);
					}
				}

				.initials {
					font-weight: 500;
					font-size: 32px;
					color: var(--initials);
					transition: color 200ms ease-in-out;
				}
			}

			&:hover {
				background-color: var(--circle-hover);
			}

			&:hover .initials {
				color: var(--circle-hover);
			}
		}

		.teachers__name {
			flex: 1;
			overflow: hidden;
			margin: 20px 0 10px;
			width: 100%;
			max-width: 180px;
			font-size: 24px;
			text-align: center;
			text-overflow: ellipsis;
		}

		.teachers__country {
			overflow: hidden;
			max-width: 180px;
			font-size: 13px;
			text-align: center;
			text-overflow: ellipsis;
		}

		&._star {
			.circle__frame::before {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				width: 16px;
				height: 16px;
				background-image: url("../img/star.svg");
				transform: scale(1.3);
			}

			&:hover .circle__frame::before {
				animation: pulse 1s ease infinite;
			}
		}
	}
}

#favorites {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.slider {
	position: relative;
	width: calc(100% - 60px);

	&::before {
		content: "";
		position: absolute;
		left: -30px;
		top: 90px;
		display: inline-block;
		border: solid rgba(0, 0, 0, 0.3);
		border-width: 0 6px 6px 0;
		width: 30px;
		height: 30px;
		transform: rotate(135deg);
		cursor: auto;
	}

	&::after {
		content: "";
		position: absolute;
		right: -30px;
		top: 90px;
		display: inline-block;
		border: solid rgba(0, 0, 0, 0.6);
		border-width: 0 6px 6px 0;
		width: 30px;
		height: 30px;
		transform: rotate(-45deg);
		cursor: pointer;
	}

	&__body {
		overflow: hidden;
		width: 100%;

		.teachers__list {
			grid-template-columns: repeat(5, minmax(180px, 1fr));
			width: 100%;
			gap: 20px;
		}
	}
}

/* FOOTER */
.footer {
	@include flexbox(space-between, center);

	justify-self: flex-end;
	width: 100%;
}

/* ==================================================================== SCROLLBAR */

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-thumb {
	border-radius: 9em;
	background-color: var(--scroll);
}
