
/* ==================================================================== Roboto */

@font-face {
	src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v16/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
	src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v16/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v16/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v16/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v16/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v16/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2") format("woff2");
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* ==================================================================== Roboto */

/* ==================================================================== PT Sans */

@font-face {
	src: url("../fonts/PTSans/PTSans-Regular.ttf") format("truetype");
	font-family: "PTSans";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/PTSans/PTSans-Bold.ttf") format("truetype");
	font-family: "PTSans";
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url("../fonts/PTSans/PTSans-Italic.ttf") format("truetype");
	font-family: "PTSans";
	font-weight: 100;
	font-style: italic;
}

@font-face {
	src: url("../fonts/PTSans/PTSans-BoldItalic.ttf") format("truetype");
	font-family: "PTSans";
	font-weight: 200;
	font-style: italic;
}

/* ==================================================================== PT Sans */
