
// ==================================================================== FLEXBOX

@mixin flexbox($justify, $align, $direction: row) {
	display: flex;
	flex-direction: $direction;

	@if $justify == flex-start {
		justify-content: flex-start;
	} @else {
		justify-content: $justify;
	}

	@if $align == flex-start {
		align-items: flex-start;
	} @else {
		align-items: $align;
	}
}

// ==================================================================== FLEXBOX
