/* ====================================================================================
	Variables
======================================================================================= */

:root {
	--circle: #f99589;
	--main-color: #f75d4a;
	--secondary-сolor: #434343;
	--footer-color: #65a3be;
	--circle-hover: #cc4836;
	--main-hover-color: #d64836;
	--footer-hover-color: #548eb2;
	--star: #ecec02;
	--link: #65b7e0;
	--initials: #f75c49;
	--table-even: #f9f5f9;
	--scroll: #9d9d9d;
}

// ====================================================================================
// SCSS MIXIN
// ====================================================================================

@import "mixin";

/* ====================================================================================
	IMPORT FONTS
======================================================================================= */

@import "fonts";

/* ====================================================================================
	NORMALIZE
======================================================================================= */

@import "normalize";

/* ====================================================================================
	MAIN STYLE
======================================================================================= */

@import "app";

/* ====================================================================================
	DIALOGS (MODAL) STYLE
======================================================================================= */

@import "dialogs";

/* ====================================================================================
	MEDIA STYLE
======================================================================================= */

@import "media";
